.fab {
    color: rgb(155, 152, 152);
    margin-left: 1rem;
    cursor: pointer;
}

.fab:hover {
    color: white;
    margin-left: 1rem;
    cursor: pointer;
}
.iconContainer {
    margin-left: 1rem;
    min-width: 15rem;
}